{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="/accounts/github/login/?process=login" class="mb-5">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login with social account:</legend>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Github</button>
            </div>
        </form>
        <form method="POST" class="mb-5">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Or log in with your user account:</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Need An Account?
                    <a class="ml-2" href="{% url 'signup' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}