
{% extends 'base.html' %}
{% block content %}

    <h2>Homepage</h2>

    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}</p>
{#        <p>First name: {{ user.first_name }}</p>#}
{#        <p>Last name: {{ user.last_name }}</p>#}
{#        {% for item in extra_data %}#}
{#            <p>name: {{ item.extra_data }}</p>#}
{#        {% endfor %}#}
    {% else %}
        <p>I dont know who you are!</p>
    {% endif %}
{% endblock content %}

{#{% if user.is_authenticated %}#}
{#    <p>Hi {{ user.username }}#}
{#    <p><a href="{% url 'logout' %}">Log out</a></p>#}
{#{% else %}#}
{#    <p><a href="{% url 'signup' %}">Sign Up</a></p>#}
{#    <p><a href="{% url 'login' %}">Log In </a></p>#}
{#{% endif %}#}