{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <div class="media">
            {% if user.profile.image.url %}
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="image">
            {% else %}
                <img class="rounded-circle account-img" src="{{ user.profile.default.url }}" alt="image">
            {% endif %}
        </div>
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>

    <form method="post">
      {% csrf_token %}
        <fieldset class="form-group">
        <legend class="border-bottom mb-4">Profile Info</legend>
            {{ update_form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info">Update</button>
        </div>
    </form>


{% endblock content %}

{% block right %}

    <div class="col-md-4">
        <div class="content-section">
            <h4>Settings</h4>
            <ul class="list-group">
                <a class="list-group-item list-group-item-light" href="{% url 'account_logout' %}">Log out</a>
                <a class="list-group-item list-group-item-light" href="{% url 'delete' %}">Delete</a>


{#                <a class="nav-item nav-link" href="{% url 'account_logout' %}">Log out</a>#}
{#                <a class="nav-item nav-link" href="{% url 'disconnect' %}">Disconnect Account</a>#}
{#                <a class="list-group-item list-group-item-light" href="{% url 'disconnect' %}">Disconnect Account</a>#}

                {# <li class="list-group-item list-group-item-light">Latest Posts</li> #}
                {# <li class="list-group-item list-group-item-light">Announcements</li> #}
                {# <li class="list-group-item list-group-item-light">Calendars</li> #}
                {# <li class="list-group-item list-group-item-light">etc</li> #}
            </ul>
        </div>
    </div>

{% endblock right %}